@import './variables.scss';

.backButton{
    position: fixed;
    bottom: calc($grid-gutter / 2);
    right: calc($grid-gutter / 2);
    background: $black;
    color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: .5s;
}

.backButtonHidden{
    @extend .backButton;
    bottom: -100px;
}