@use 'variables';

.backButton {
  position: fixed;
  bottom: calc(var(--width-gutter) / 3);
  right: calc(var(--width-gutter) / 3);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;

  @media (min-width: variables.$widthMedium) {
    width: 100px;
    height: 100px;
    bottom: calc(var(--width-gutter) / 2);
    right: calc(var(--width-gutter) / 2);
  }
}

.backButtonHidden {
  @extend .backButton;
  bottom: -70px;

  @media (min-width: variables.$widthMedium) {
    bottom: -100px;
  }
}
