@import './variables.scss';

.projectCard{
  margin-top: $grid-gutter;

  &:nth-child(2){
    @media (min-width: $medium) {
      padding-top: 150px;
    }
  }
}
.projectTitle{
  font-size: 1.2em;
  font-family: 'Cirka';
  margin-bottom: 0;
  
  @media (min-width: $medium) {
    font-size: 1.4em;
  }
}

.projectBlurb{
  font-family: 'Cirka';
  font-size: 1em;
  line-height: 1em;
    margin-top: 0;

    @media (min-width: $medium) {
      font-size: 1.3em;
    }
}