@import './_variables';

.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
}

.intro {
  font-size: 1.5em;
  font-family: 'Cirka';
  line-height: 1.4em;

  @media (min-width: $widthMedium) {
    font-size: 3.5em;
  }
}

.title {
  font-size: 1.5em;
  font-family: 'Cirka';
  line-height: 0.5em;
  margin-top: calc(var(--width-gutter) / 2);

  @media (min-width: $widthMedium) {
    font-size: 3em;
  }
}

.projects {
  margin: 0;

  @media (min-width: $widthMedium) {
    margin: var(--width-gutter) 0;
  }
}

.about {
  margin-top: calc(var(--width-gutter) / 2);
  font-family: 'Cirka';

  @media (min-width: $widthMedium) {
    margin-top: calc(var(--width-gutter) * 2);
  }

  h2 {
    margin-top: calc(var(--width-gutter));
  }
}
