@import './variables.scss';
.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
}

.intro {
  font-size: 3.5em;
  font-family: 'Cirka';
  line-height: 1.4em;
}

.title {
  font-size: 3em;
  font-family: 'Cirka';
  line-height: .5em;
}

.projects{
  margin-top: calc($grid-gutter * 2);
}

.about{
  margin-top: calc($grid-gutter * 2);
  font-family: 'Cirka';
}