@import './variables.scss';

.projectBlock{
    position: fixed;
    width: 90%;
    top: 0;
    left: 10%;
    min-height: 100vh;
    border-left: 3px solid $black;
    background: $beige;
    z-index: 99;
    padding: $grid-gutter;
    overflow-y: auto;
}

.projectWrap{
    position: absolute;
}

.projectBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, .5);
}