@import './variables.scss';

.projectBlock{
    position: fixed;
    width: 100%;
    top: 0;
    right: -100%;
    min-height: 100vh;
    border-left: 1px solid $black;
    background: $beige;
    z-index: 99;
    overflow-y: auto;
    animation: slideInMobile .5s ease-in-out forwards;
    
    @media (min-width: $medium) {
        animation: slideIn .5s ease-in-out forwards;
        width: 90%;
        max-width: 1200px;
        border-left: 3px solid $black;
    }
}

.projectBlockLeaving{
    @extend .projectBlock;
    animation: slideOutMobile .5s ease-in-out forwards;
    
    @media (min-width: $medium) {
        animation: slideOut .5s ease-in-out forwards;
    }
}

.projectClose{
    position: fixed;
    width: 40px;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    transition: .25s;
    
    @media (min-width: $medium) {
        width: 50px;
        right: 25px;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.projectCloseLeaving{
    @extend .projectClose;
    opacity: 0;
}

.projectWrap{
    position: absolute;
    padding: calc($grid-gutter / 2);
    width: 100%;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $medium) {
        padding: $grid-gutter;
    }
}

.projectBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0;
    cursor: pointer;
    animation: fadeIn .5s ease-in-out forwards;
}

.projectBackgroundLeaving{
    @extend .projectBackground;
    animation: fadeOut .5s ease-in-out forwards;
}

.projectCategory{
    text-transform: uppercase;
    font-size: .8em;
    color: $black;
    background: $beige;
    border: 1px solid $black;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 2em;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 5px;
    
    @media (min-width: $medium) {
        font-size: .9em;
        padding: 2px 20px;
      }
}

.gallerySection{
    margin: calc($grid-gutter / 2) 0;

    .uk-grid > div{
        margin-bottom: 25px;

        @media (min-width: $medium) {
            margin-bottom: 0;
        }
    }
}

.imageSection{
    margin-bottom: $grid-gutter;
}

.textSection{
    font-family: 'Cirka';
    margin-bottom: $grid-gutter;

    h1, h2{
        font-family: 'Cirka';
        margin-top: 0;
    }
}

.title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8em;
    margin-bottom: .3em;

    @media (min-width: $medium) {
        font-size: 1.3em;
    }
}

.intro{
    font-family: 'Cirka';
    font-size: 1.5em;
    color: $black;
    margin-top: 0;

    @media (min-width: $medium) {
        font-size: 2.3em;
    }
}

@keyframes slideIn{
    0%{
        right: -90%;
    }
    100%{
        right: 0%;
    }
}

@keyframes slideOut{
    0%{
        right: 0;
    }
    100%{
        right: -90%;
    }
}

@keyframes slideInMobile{
    0%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

@keyframes slideOutMobile{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 50%;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 50%;
    }
    100%{
        opacity: 0%;
    }
}