@import './variables.scss';

html,
body {
    background-color: $beige;
  padding: 0;
  margin: 0;
  font-family: 'Migra';
  font-size: 20px;
}

body.project-open{
  overflow: hidden;
}

h1, h2{
    font-size: 3em;
    font-family: 'Migra';
    line-height: 1.5em;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//Card
.project-card{
  h3, .blurb{
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Migra';
  }
}

//Home Page
#bottomSection{
  margin-top: $grid-gutter;
}