@import './variables.scss';
html { height: 100%; overflow:auto; }
body { height: 100%; }

html,
body {
  background-color: $beige;
  padding: 0;
  margin: 0;
  font-family: 'SFProDisplay';
  font-size: 20px;
}

body.project-open{
  position: fixed;

  @media (min-width: $medium){
    padding-right: 16px;
  }
}

#intro{
  position: relative;
}

.uk-container{
  max-width: 1500px;
}


a {
  color: inherit;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: inherit
  }
}

p{
  a{
    border-bottom: 1px solid $grey;
    display: inline-block;
    line-height: .6em;

    &:hover{
      border-bottom-style: dotted;
    }
  }
}

h2{
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

//Home Page
#bottomSection{
  margin-top: $grid-gutter;
}