@import './variables.scss';

.tagWrap{
    position: absolute;
  }

  $percents: 12% 66% 32% 50% 24%;
@each $percent in $percents {
  .tagWrap:nth-child(#{index($percents, $percent)}) {
    position: absolute;
    top: calc(5em * index($percents, $percent));
    left: $percent;
  }
}

  .tag { 
    text-transform: uppercase;
    font-size: 1.2em;
    background: $beige;
    border: 1px solid $black;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 2em;
    white-space: nowrap;
  }
  
  
  @keyframes x {
    100% {
      transform: translateX(calc(100vw - 100px));
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY(1000px);
    }
  }