$beige: #F2EEE5;
$black: #000000;

  /* Font */
  @font-face {
    font-family: 'Basier Square';
    src: url('../fonts/BasierSquare-Regular.woff2') format('woff2'),
        url('../fonts/BasierSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-Extralight.woff2') format('woff2'),
        url('../fonts/Migra-Extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }