$beige: #F2EEE5;
$black: #000000;
$grey: #666;

//Breakpoints
$medium: 768px;

$grid-gutter: 50px;

  /* Font */
  @font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Cirka';
    src: url('../fonts/PPCirka-Light.woff2') format('woff2'),
        url('../fonts/PPCirka-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }